In [58]:
from pyspark.mllib.recommendation import *
from operator import *
from pyspark.sql.types import *

In [2]:
user_artist_data = sc.textFile("profiledata_06-May-2005/user_artist_data.txt")
artist_data = sc.textFile("profiledata_06-May-2005/artist_data.txt")
artist_alias_data = sc.textFile("profiledata_06-May-2005/artist_alias.txt")

In [5]:
parts = user_artist_data.map(lambda l: l.split(" "))
logs = parts.map(lambda p: (int(p[0]), int(p[1]), int(p[2].strip())))
user_artist_df = logs.toDF(["userid", "artistid", "playcount"])
user_artist_df.show(5)

+-------+--------+---------+
| userid|artistid|playcount|
+-------+--------+---------+
|1000002|       1|       55|
|1000002| 1000006|       33|
|1000002| 1000007|        8|
|1000002| 1000009|      144|
|1000002| 1000010|      314|
+-------+--------+---------+
only showing top 5 rows

In [98]:
def helper(line):
    pairs = line.split("\t")
    return (pairs[0], pairs[1].strip()) if len(pairs) == 2 else (None, None)

artist_by_id = artist_data.flatMap(lambda l: (helper(l), ))
artist_df = artist_by_id.toDF(['artistid', 'name'])
artist_df = artist_df.filter(artist_df.artistid != "null")
artist_df.show(5)

+--------+--------------------+
|artistid|                name|
+--------+--------------------+
| 1134999|        06Crazy Life|
| 6821360|        Pang Nakarin|
|10113088|Terfel, Bartoli- ...|
|10151459| The Flaming Sidebur|
| 6826647|   Bodenstandig 3000|
+--------+--------------------+
only showing top 5 rows

In [100]:
def helper2(line):
    tokens = line.split("\t")  
    return (tokens[0], tokens[1].strip()) if tokens[0] else (None, None)   
    
bad_good = artist_alias_data.flatMap(lambda l: (helper2(l), ))
artist_alias_df = bad_good.toDF(['badid', 'goodid'])
artist_alias_df = artist_alias_df.filter(artist_alias_df.badid != "null")
artist_alias_df.show(5)

+--------+-------+
|   badid| goodid|
+--------+-------+
| 1092764|1000311|
| 1095122|1000557|
| 6708070|1007267|
|10088054|1042317|
| 1195917|1042317|
+--------+-------+
only showing top 5 rows